|$("#product_comments_area").html("
= j(render 'product_comments/index', { product_comments: @product_comment.product.product_comments, product: @product_comment.product })
|");
|$("textarea").val('');
