ul{
  list-style:none;
}
.post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.post-item{
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  margin: 0 0 24px;
  overflow: hidden;
  position: relative;
  width: 32%;
}
.post-wrap{
  position: relative;
  width: 100%;
}
.profile-item, .product-item, .comment-item{
  border-bottom: 1px solid #ddd;
}
.profile-item{
  padding: 14px 14px 20px 14px;
}
.product-item{
  padding:14px;
}
.list-icon{
  height: 80px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 80px;
}
.list-link{
  display: block;
  position:relative;
  width: 100%;
}
.tag-list{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
}
.tag-item{
  overflow: hidden;
  position: relative;
}
.product-image{
  width: 500px;
}
.product-name{
  font-size: 3.0rem;
  font-weight: bold;
  margin: 12px 0 36px;
}
.product-label, .comment-label{
  margin: 0 0 6px;
}
.comment-label{
  margin: 48px 0 12px;;
}
.comment-icon{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 0 8px 0 0;
}
.comment{
  margin: 18px 0 12px;
}
.comment-item{
  padding: 6px 0 30px;
}
.btn-delete{
  background-color: red;
  border-radius: 5px;
  color: #fff;
  display: block;
  opacity: 0.7;
  position: absolute;
  padding: 5px;
  right: 5px;
  text-decoration: none;
}
.post-icon{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0 8px 0 0;
}
