body{
  color: #444;
  font-size: 1.4em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height:  1.6;
  letter-spacing: .08em;
  word-break: break-all;
}
ul{
  list-style:none;
}
.post-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /*justify-content: space-between;*/
}
.post-item{
  margin: 0 0.3% 2px;
  overflow: hidden;
  position: relative;
  width: 32.7%;
}
.post-wrap{
  position: relative;
  width: 100%;
  height: 30vw;
  max-height: 250px;
  object-fit: cover;
}
.post-content{
  position: relative;
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  object-fit: contain;
}
.profile-item, .product-item, .comment-item{
  border-bottom: 1px solid #ddd;
}
.profile-item{
  padding: 14px 12px 40px;
}
.product-item{
  padding: 14px 12px;
}
.list-icon__square{
  height: 80px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 80px;
}
.list-icon{
  border-radius: 40px;
  height: 80px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 80px;
}
.list-link{
  color: #444;
  display: block;
  position:relative;
  width: 100%;
  text-decoration: none;
}
.tag-list{
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 3px 0 0 0;
}
.tag-item{
  overflow: hidden;
  position: relative;
  padding: 5px 15px;
  border: solid .5px #ccc;
  border-radius: 10px;
  margin: 0 3px;
  font-size: .9rem;
}
.btn-plus{
  position: fixed;
  bottom: 30px;
  right: 3%;
  padding: 7px 12px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #444;
  color: #fff;
  font-size: 16px;
}

.profile{
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}
.product-thum{
  /*ここは幅を考えなきゃ*/
}
.product-image{
  max-width: 400px;
}

.profile-image{
  border-radius: 125px;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.product-name{
  font-size: 2.0rem;
  font-weight: bold;
  margin: 6px 0 12px;
}
.profile-name{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 12px 0 12px;
}
.product-label, .comment-label{
  margin: 0 0 6px;
}
.comment-label{
  margin: 48px 0 12px;;
}
.comment-icon{
  border-radius: 15px;
  height: 30px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 30px;
}
.comment{
  margin: 18px 0 12px;
}
.comment-item{
  padding: 6px 0;
}
.btn-delete{
  color: #aaa;
  display: block;
  float: right;
  font-size: .8rem;
  padding: 1px 5px;
  text-decoration: none;
}
.post-icon{
  border-radius: 25px;
  height: 50px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 50px;
}
.post-profile{
  margin: 0 0 2px 0;
}
.form-label{
  display: block;
  font-size: 1.2rem;
  margin: 0 0 8px 0;
}
.form-item{
  border: 0;
  border-bottom: solid 1px #ccc;
  margin: 10px 0;
  padding: 5px 3px;
  width: 250px;
}
.form-item__textarea{
  border: solid 1px #999;
  height: 100px;
  min-width: 300px;
  padding: 5px 3px;
  resize: auto;
  width: 70%;
}
.error_msg{
  color: red;
}
.btn-google{
  background-color: red;
  border-radius: 15px;
  color: #fff;
  display: block;
  max-width: 450px;
  margin: 10px auto 0;
  opacity: 0.8;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}
.btn-facebook{
  background-color: navy;
  border-radius: 15px;
  color: #fff;
  display: block;
  max-width: 450px;
  margin: 10px auto 0;
  opacity: 0.8;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

#drawer{
  position: relative;
}
.unshown{
  display: none;
}

.nav-unshown {
  display:none;
}

#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #aaa;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -6px;
}
#nav-open span:after {
    bottom: -12px;
}

#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(295%);
    transform: translateX(295%);
}

#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-inner{
  padding: 25px 15px;
}
.menu{
  padding: 50px 30px;
}
.menu-list{
  margin: 30px 0;
}
.menu-link{
  color: #444;
  display: block;
  padding: 14px 0;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.main{
  max-width: 1000px;
  margin: 0 auto 30px;
  min-height: 77vh;
  padding: 5px;
}
.tag-list__show{
  margin: 0 0 8px 0;
}
.tag-item__show{
  border: solid 1px #ccc;
  border-radius: 10px;
  display: inline-block;
  font-size:  .9rem;
  margin: 1px 0;
  padding: 5px;
}
.link-list{
  margin: 12px 0 0 0;
}
.mypage-link{
  color: #444;
  display: inline-block;
  font-size: .8rem;
  margin:0 5px 0 0;
  text-decoration: none;
}
#post-image__1, #post-image__2{
  display: none;
}
#button-container{
  margin: -30px 0 auto;
  max-width: 500px;
  position: relative;
  width: 100%;
  z-index: 98;
}
#button-list{
  text-align:center;
  position: relative;
  width: 100%;
  z-index: 97;
}
.images-label{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0 #999;
  display: inline-block;
  margin: 0 7px;
  height: 20px;
  width: 20px;
}
.radio-images{
  display:none;
}
.profile-postlist{
  margin-top: 50px;
}
.search-container{
  margin-bottom: 20px;
  text-align: center;
}
.form-control__search{
  border: .5px solid #eee;
  border-radius: 10px;
  padding: 3px 10px;
  width: 50%;
}
form.new_user{
  margin-bottom: 20px;
}
.comment-list{
  margin-bottom: 20px;
}
.header-wrap{
  text-align: center;
}
.title-link{
  color: #222;
  font-size: 1.6rem;
  font-family: Times;
  letter-spacing: .2em;
  text-decoration: none;
}
footer{
  background-color: #f9f9f9 !important;
  text-align: center;
}
.footer-container{
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 0;
  width: 100%;
}
.footer-item, .slash{
  color: #777;
  font-size: .8rem;
  text-decoration: none;
}
.company-info{
  color: #777;
  font-size: .6rem;
  margin: 12px 0 0 0;
}
.user-list{
  width: 100%;
  text-align: center;
}
.user-list th, .user-list td{
  vertical-align: middle;
}
.user-list th:nth-child(1), .user-list td:nth-child(1){
  width: 40%;
}
.user-list td:nth-child(1){
  text-align: left;
}
.user-head, .user-item{
  border-bottom: .5px solid #ccc;
  padding: 10px 0;
}
.user-item__link{
  border: 1px solid #ccc;
  border-radius: 7px;
  color: #444;
  font-size: 0.7rem;
  padding: 5px 10px;
  text-decoration: none;
}
.far.fa-heart{
  color: #aaa;
}
.fas.fa-heart{
  color: red;
}
.paginater{
  margin-top: 10px;
  text-align: center;
}
.pagination a{
  color: #aaa;
  font-size: .92rem;
  text-decoration: none;
}
@media screen and (max-width:767px){
  .login-form{
    padding-bottom: 30px;
    border-bottom: .5px solid #ccc;
  }
  .sns-login{
    margin-top: 30px;
  }
  .tag-item{
    font-size: .4rem;
    margin: 0 1px;
    padding: 5px;
  }
  .profile-thum{
    text-align: center;
  }
  #nav-drawer {
    position: absolute;
    right: 8px;
    top: 35px;
  }
  .user-list{
    font-size: .7rem;
  }
}
@media screen and (min-width: 768px){
  .product, .profile{
    display: flex;
    justify-content: space-between;
  }
  .product-desc{
    width: calc(100% - 430px);
  }
  .profile-desc{
    width: calc(100% - 285px);
  }
  .btn-plus{
    right: 20%;
  }
  .login-container{
    display: flex;
    flex-wrap: wrap;
  }
  .login-form{
    border-right: .5px solid #ccc;
    padding-right: 3%;
    width: 40%;
  }
  .sns-login{
    width: 56%;
  }
  .btn-google, .btn-facebook{
    margin: 10px auto;
    width: 50%;
  }
  #nav-drawer {
    position: absolute;
    right: 50px;
    top: 35px;
  }
}
